.productDesc {
  height: 48px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;
}

.productLink {
  color: inherit;
  text-decoration: none;
}
.productLink:hover {
  color: #5ccacd;
  text-decoration: none;
}
